{% extends 'base.html' %}

{% block body %}
</script>
  <style type="text/css">
    
   
  	.foodcart{
  		margin-top:20px;
  	}
   	.cart_inner{
   	width:220px;
		height:170px;
		position:relative;
   	}
   	
	img.cart_product{
		width:187px;
		height:143px;
		position:absolute;
		left:15px;
		top:15px;	
	
	}
	.cart_product{
    	width:220px;
    	height:240px;
    	float:left;
    }
	.description{
		text-align:center;
	}
	#temp{
		background-color:#ffffff;
		width:220px;
		 
	}
	.cart-actions{
	margin-top:20px;
	}
	.product_name{
		text-align:center;
	}
    </style>
<div id="order">
    <h1><a href="{% url 'index' %}">{{store.name}}</a> >> <a href="{% url 'cart' %}">cart</a> >> Please confirm your order </h1>

    <div class="container-fluid">
	
   
        {% for product_quantity in cart.productquantities_set.all %}
            <div class="cart_product">
                <div class="product_name">{{product_quantity.product.name}}</div>
                <div class="cart_inner">
                <img  class="cart_product" src="{{ product_quantity.product.image.url }}"/></div>
               
                <div class="price">
                    {{ product_quantity.quantity }} X {{ product_quantity.product.price }}元
                </div>

                <a class="remove-from-cart" productid={{product_quantity.product.id}} >去除</a>
            </div>
        {% endfor %}
    </div>
    <div class="billing-information">
        <h2> Billing Information </h2>
        <div>
            {{ order.name_on_card }}
        </div>
        <div>
            {{ order.credit_card_type }} 
        </div>
        <div>
            {{ order.credit_card_number|slice:"-4:" }} 
        </div>
        <div>
            {{ order.security_number }} 
        </div>
        <div>
            {{ order.expiration_month }} 
        </div>
        <div>
            {{ order.expiration_year }} 
        </div>
        <div>
            {{ order.address }} 
        </div>
        <div>
            {{ order.city }} 
        </div>
        <div>
            {{ order.state }} 
        </div>
        <div>
            {{ order.zip_code }} 
        </div>
        <div>
            {{ order.phone_number }} 
        </div>

    </div>
    <div class="order-actions">
        Total: {{ order.total }}
        <form class="single-button-form" method="post" action="{% url 'confirm_order' order.id %}">
            {% csrf_token %}
            <input type="submit" value="Confirm"/>
        </form>
        <form class="single-button-form"  method="post" action="{% url 'delete_order' order.id %}">
            {% csrf_token %}
            <input type="submit" value="Cancel Order"/>
        </form>

    </div>
</div>

{% endblock %}
